@import url('https://fonts.googleapis.com/css2?family=Fragment+Mono&family=Poppins:wght@200&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



:root {
    --primary: #F6F7F8;
    --secondary: ssfd;
    --success: #61ad4b;
    --silver: #f6f7f8;
    --inital:sdfasdf;

}

.dark-mode {
    --primary: #1F232E;
    --secondary: white;
    --success: #0ef;
    --silver: #C0C0BE;
}

body {
    background-color: var(--primary);
    font-family: 'Poppins', sans-serif;
}

.head_container {
    max-width: 80%;
    margin: auto;

    .box {
        .head_text {
            color: var(--secondary);
        }
    }

}

.container {
    max-width: 80%;
    margin: auto;
}

.flex {
    display: flex;
}

.flex1 {
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.head {
    height: 5vh;
    line-height: 5vh;
    border-bottom: 1px solid rgb(0, 0, 0.1);
}

.head {
    label {
        font-size: 14px;
        font-weight: 700;
    }
}

.head {
    span {
        margin-right: 20px;
        font-size: 14px;
        font-weight: 200;
    }
    .head_container{
        .box{
            .b2{
                font-size: 30px;
                display: none;
            }
        }
    }
}

select {
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    outline: none;
    background-color: var(--primary);
    color: var(--secondary);
}

header {
    width: 100%;
    color: black;
    height: 10vh;
    line-height: 10vh;
    // position: fixed;
    // top: 42px;
    // z-index: 5;
    // background-color: white;
    // box-shadow: 1px 1px 1px 2px lightgray;

    .logo {
        height: 50px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 60%;
        }
    }

    .navbar {
        display: flex;
        align-items: center;
    }



    .navbar {
        span {
            text-align: center;
            margin-left: 20px;
            color: black;
            font-size: 40px;
            display: none;
        }

        nav {
            #menuitem {
                li {
                    
                    a {
                        color: var(--secondary);
                        transition: .3s;
                    }
                    a:hover{
                        color: var(--success);
                    }
                }
                
                
            }
        }

        .account {
            i {
                margin-left: 10px;
                color: var(--secondary);
                cursor: pointer;
            }

            // .b1{
            //     margin-left: 100px;
            // }
            .b {
                font-size: 30px;
            }
        }

        nav {
            flex: 1;
            text-align: center;

            ul {
                display: inline-block;
                list-style-type: none;

                li {
                    display: inline-block;
                    margin-right: 50px;
                    font-size: 16px;
                    font-family: san-serif;

                    a {
                        color: black;
                    }
                }
            }
        }
    }

}

header {
    .sticky {
        z-index: 10;
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #fff;
        height: 10vh;
        box-shadow: 2px 2px 2px 1px rgb(0, 0, 0.1);
        transition: .5s;
    }
}

header {
    .sticky {
        ul {
            li {
                a {
                    color: #000;
                }
            }
        }
    }
}


@media only screen and (max-width:768px) {

    .head{
        height: 20vh;
        display: flex;
        flex-wrap: wrap;
        .head_container{
            .box{
                .b2{
                    display: block;
                    font-size: 30px;
                    margin-left: 20px;
                }
            }
        }
    }
    .head_container {
        max-width: 90%;
        flex-wrap: wrap;
        .navbar {
            span {
                color: black;
                display: block;
                cursor: pointer;
                font-size: 30px;
                margin-top: 30px;
            }

            nav {
                ul {
                    position: absolute;
                    top: 100px;
                    left: 0;
                    width: 100%;
                    background: var(--primary);
                    overflow: hidden;
                    transition: max-height .5s;
                    z-index: 15;

                    li {
                        display: block;
                        

                        a {
                            color: black;
                        }
                    }
                    
                }


            }

        }
    }

    .navbar {
        .account {
            i{
                display: none;
            }
            .b{
                display: block;
                margin-top: 100px;
            }
        }

    }

    header {
        position: relative;

        .logo {
            position: absolute;
            right: 0;
            top: 0;
        }

        .navbar {
            span {
                position: absolute;
                left: 30px;
                top: 20px;
            }
        }

        .sticky {
            position: relative;

        }
    }

}

img {
    width: 100%;
    height: 100%;
}

.top {
    margin-top: 100px;
}

.mtop {
    margin-top: 50px;
}

.left,
.right {
    width: 50%;
    padding: 20px;
}

.home {
    height: 85vh;
}

.slide {
    width: 100%;
    height: 70vh;
    background-color: var(--primary);

    h3 {
        color: var(--success);
        font-weight: 400;
        letter-spacing: 2px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 50px;
        font-weight: 700;
        color: var(--secondary);

        span {
            color: var(--success);
        }
    }

    .btn1:hover {
        background-color: black;
    }

    p {
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 15px;
        color: var(--secondary);
    }

}

.owl-dots {
    span {
        font-size: 20px;
        padding: 4px 20px;
    }
}

button {
    background-color: var(--success);
    padding: 15px 40px;
    outline: none;
    border: none;
    border-radius: 50px;
    color: var(--primary);
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
}

.center {
    text-align: center;
}

.btn2 {
    padding: 15px 40px;
    border-radius: 5px;
    background-color: black;
    color: white;

}

.offer {
    .content {
        margin-top: -50px;
        border: 15px solid white;
        box-shadow: 2px 2px 5px 5px rgb(0, 0, 0, 0.1);
    }

    .content:hover {
        .box {
            margin: 0;
            cursor: pointer;
        }
    }

    .box {
        width: 50%;
        background-color: #61ad4b;
        padding: 0;
        color: white;
        transition: .5s;


    }

    .box:nth-child(1) {
        margin-right: 10px;
    }

    .box:nth-child(2) {
        margin-left: 10px;
    }

    .box2 {
        background-color: #ffd200;
        position: relative;

        img {
            margin-top: 5px;
        }

        .text {
            margin-top: 100px;

            p {
                transform: rotate(0deg);
            }
        }
    }

    .text {
        width: 80%;
        margin-top: 20px;
    }

    img {
        height: auto;
    }

    h3 {
        font-size: 40px;
        font-weight: 300;
        margin-top: 10px;
        margin-bottom: 10px;

        span {
            font-weight: 500;

        }
    }

    p {
        font-size: 18px;
        margin: 0;
    }

    .bottom_text {
        margin: 20px;
        text-align: left;
        padding: 10px;

        p {
            font-size: 18px;
            transform: rotate(-10deg);
        }

        p:nth-child(2) {
            margin-left: 40px;

            span {
                background-color: white;
            }
        }

        span {
            background-color: #ffd200;
            font-size: 20px;
            padding: 2px 8px;
            color: black;
            font-weight: 600;
            font-style: italic;
        }
    }

    .text_top {
        width: 100px;
        height: 100px;
        padding: 18px;
        background-color: var(--success);
        border-radius: 50%;
        position: absolute;
        top: -50px;
        right: 50px;

        p {
            font-size: 14px;

            label {
                font-size: 24px;
                font-weight: 200;
            }
        }
    }
}

.heading {
    h3 {
        font-weight: 100;
        font-size: 15px;
        letter-spacing: 3px;
        color: var(--success);
        margin-top: 30px;
    }

    h2 {
        font-size: 40px;
        position: relative;
    }
}

.text {
    margin-top: 20px;
}

.heading::after {
    position: absolute;
    content: '';
    width: 100px;
    height: 5px;
    background-color: var(--success);
}

.about {
    .container {
        .left{
            img{
                border-radius: 20px;
            }
        }
        .right {
            display: flex;
            flex-direction: column;
            gap: 60px;

            .heading {
                h2 {
                    color: var(--secondary);
                }
            }

            .text {
                p {
                    color: var(--secondary);
                }

                .list {
                    list-style-type: disc;
                    list-style-position: inside;
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    margin-top: 10px;
                    gap: 30px;

                    li {
                        color: var(--secondary);
                    }
                }
            }
        }
    }

    li {
        margin-top: 10px;
        text-transform: capitalize;
    }
}

.time {
    background-color: var(--primary);
    height: 60vh;
    display: flex;
    justify-content: center;

    h2 {
        font-size: 30px;
        color: var(--secondary);
    }

    h1 {
        font-weight: 400;
        font-size: 30px;
        color: var(--success)
    }

    p {
        margin: 10px 0;
        color: var(--secondary);
    }

    img {
        width: 80%;
    }

    .flextop {
        display: flex;
        align-items: center;
    }

}

.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.heading2 {
    text-align: center;
}

.heading2::after {
    left: 47%;

}

.product {
    .content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }

    .img {
        position: relative;
        cursor: pointer;
        img{
            border-radius: 20px;
        }
    }

    .heading {
        h2 {
            color: var(--secondary);
        }
    }

    .content {
        text-align: left;
    }

    .text {
        h3 {
            font-weight: 400;
            font-size: 18px;
            color: var(--secondary);
        }

        p {
            margin: 0;
            color: var(--secondary);

            span {
                text-decoration: line-through;
                opacity: 0.5;
                margin-right: 5px;
                color: var(--secondary);
            }
        }
    }

    i {
        color: var(--success);
        font-size: 14px;
    }

}

.upper-image {
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 1s;
    opacity: 0;
}

.upper-image:hover {
    opacity: 1;
}

.services {
    height: 60vh;
    width: 100%;
    background-color: var(--primary);

    .heading {
        h3 {
            padding-top: 20px;
        }

        h2 {
            color: var(--secondary);
        }
    }

    .content {
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

        .box {
            .text {
                color: var(--secondary);
            }
        }

    }

    .img {
        width: 90px;
        height: 90px;
        background-color: var(--success);
        border-radius: 50%;
        margin: auto;
        transition: 0.5s;
        line-height: 90px;
    }

    .content {
        .box:nth-child(odd) {
            .img {
                background-color: #ffd200;
            }
        }

        .box:nth-child(odd) {
            .img {
                i {
                    color: black;
                }
            }
        }

        .box:hover {
            .img {
                transform: rotateY(180deg);
                cursor: pointer;
            }
        }

        .box {
            i {
                font-size: 30px;
                text-align: center;
                color: white;

                .text {
                    h3 {
                        font-weight: 400;

                    }

                    p {
                        margin: 0;
                    }
                }
            }
        }

    }
}


.customer {
    .img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: 5px solid var(--success);
        margin-top: 20px;
        margin-right: 20px;

        img {
            border-radius: 50%;
        }

    }

    .container {
        .heading {
            h2 {
                color: var(--secondary);
            }
        }
    }

    .item {
        padding: 20px;
        background-color: var(--primary);

        .text {
            p {
                color: var(--secondary);
            }
        }

        h1 {
            font-weight: 500;
            color: var(--secondary);

            span {
                color: var(--success);
                font-size: 17px;
                font-weight: 300;
            }
        }
    }
}

.owl-nav {
    span {
        font-size: 20px;
        padding: 5px 25px;
        background-color: var(--success);
        color: white;
        transition: .5s;

        &:hover {
            background-color: black;
        }
    }

}

.brand {
    .item {
        .img {
            img {
                width: 130px;
                height: 130px;
                transition: .5s;
            }

            img:hover {
                transform: rotateY(180deg);
                cursor: pointer;
            }
        }


    }
}

footer {
    background-color: var(--primary);

    .box {
        margin-top: 30px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        p {
            color: var(--secondary);
        }

        .input {
            display: flex;
            align-items: center;
        }
    }

    .social_media {
        i {
            font-size: 30px;
            margin: 0 10px;
            color: var(--secondary);
        }
    }

    .logo {
        height: 50px;
        margin-bottom: 10px;

        img {
            width: 60px;
            height: 60px;
            border-radius: 50%;
        }
    }

    .news_icon {
        font-size: 50px;
        color: var(--success);

    }

    .news {
        h2 {
            color: var(--secondary);
        }

        p {
            margin: 10px 0;
        }
    }

    h2 {
        font-weight: 400;
        margin-top: 15px;
    }

    .send {
        background-color: white;
        border-radius: 50px;
        padding: 10px;
        border: 1px solid rgb(0, 0, 0, 0.15);

        input {
            border: none;
            background-color: none;
            outline: none;
        }

        span {
            background-color: var(--success);
            padding: 15px;
            border-radius: 50%;
            color: white;
        }
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    .input {
        margin-top: 20px;

        i {
            background-color: var(--success);
            padding: 15px;
            border-radius: 50%;
            color: white;
            margin-right: 20px;
        }

        .text {
            color: var(--secondary);
        }

        h3 {
            font-weight: 400;

        }

        .label {
            font-size: 14px;
        }
    }
}

.legal {
    background-color: black;
    color: white;

    .payment {
        i {
            font-size: 30px;

        }
    }

    label {
        margin-top: 20px;
    }
}


@media screen and (max-width:768px) {
    .container {
        max-width: 90%;
    }

    .home {
        height: 70vh;

        h1 {
            font-size: 30px;
        }
    }

    .slide {
        width: 100%;
        height: 70vh;
        display: flex;
        flex-direction: column;
        .slide-content{
            flex-direction: column;
        }
    }

    .offer {
        .container {
            max-width: 98%;
        }

        .content {
            margin-top: 100px;
        }

        h3 {
            font-size: 20px;
        }
    }

    .left,
    .right {
        width: 100%;
        padding: 0;
    }

    .about {
        .container {
            flex-direction: column;
            flex-direction: column-reverse;
            .right{
                .heading{
                    text-align: center;
                }
            }
        }
    }

    .time {
        margin-bottom:250px;
        margin-top: 100px;
        .flextop{
            flex-direction: column;
            .left{
                text-align: center;
            }
            .right{
                display: flex;
                justify-content: center;
                align-items: center;
            }
        }
        h2 {
            font-size: 20px;
        }
    }
    .product{
        .content{
            text-align: center;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    }

    .grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .heading::after {
        left: 43%;
    }

    .services {
        height: 70vh;
        margin-bottom: 100px;

        .grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .customer{
        .container{
            margin-top: 500px;

        }
    }
    .brand{
        .item{
            .img{
                img{
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }

    footer {
        .grid {
            grid-template-columns: repeat(2, 1fr);
            text-align: center;
        }

        .flex {
            justify-content: center;
        }

        .input {
            flex-direction: column;
        }

        .container {
            flex-direction: column;
        }
    }
}